In [4]:
import sqlite3
import pandas as pd

In [22]:
conn = sqlite3.connect('cats.db')
c = conn.cursor()
c.execute('ATTACH DATABASE "dogs.db" AS db_dogs')
c.execute('ATTACH DATABASE "owners.db" AS db_owners')

In [21]:
sql_str = """

SELECT * from db_owners.owners o
LEFT JOIN cats c ON c.Owner_ID = o.ID
WHERE o.Name="Avi Flombaum"


"""


df = pd.DataFrame(c.execute(sql_str).fetchall())

df

              0           1                  2  3        4         5  6  7
0  Avi Flombaum  4698780125  1776 New York Ave  3  Jackson  Balinese  2  3

In [20]:
# A. Write a SQL query that can grab the names of all pets owned by the founder of Flatiron School, Avi Flombaum

OperationalError: no such table: Cats