### Import packages

In [1]:
import sqlite3
import pandas as pd

### Connect to database

In [2]:
conn = sqlite3.connect('amazon_db.db')
c = conn.cursor()

In [3]:
c.execute("""SELECT * FROM books
LIMIT 5; """)

In [4]:
df = pd.DataFrame(c.fetchall())
df.columns = [i[0] for i in c.description]
df

                                books num_copies
0         A Elephant Ate Under A Fish    4226324
1         A Boy Jumped Outside A Lake    4048899
2       One Man Hopped Under The Tree     774329
3  A Person Threw Behind The Notebook    1359606
4     The Tree Ran Through A Mountain    4703380

### Use SQL to answer the following questions:

1.  How many rows are in the 'author' database? 

100000

In [22]:

c.execute('''SELECT * FROM sqlite_master
WHERE type='table'
ORDER BY name;''').fetchall()

c.execute('''SELECT COUNT ([author]) FROM author;''').fetchall()

[('table',
  'author',
  'author',
  888,
  'CREATE TABLE author(\n  "author" TEXT,\n  "book" TEXT\n)'),
 ('table',
  'books',
  'books',
  2,
  'CREATE TABLE books(\n  "books" TEXT,\n  "num_copies" TEXT\n)')]

2. How many authors are called David?

In [33]:
c.execute('''SELECT * FROM author LIMIT 5;''').fetchall()

[('David Taylor', 'A Guy Dove Outside The Desk'),
 ('Sidney Osborne', 'A Fish Hopped Through A Lake'),
 ('Robert Martin', 'The Woman Winced Outside A Desk'),
 ('Greg Simpson', 'A Banana Winced Outside The Banana'),
 ('Edgar Williamson', 'A Person Ate Behind The Potato')]

In [35]:
c.execute('''SELECT * PRAGMA table_info(author);''').fetchall()

OperationalError: near "PRAGMA": syntax error

In [ ]:
SELECT sql FROM sqlite_master WHERE name='tablename';

In [38]:
c.execute('''PRAGMA table_info(tablename);''')
print c.fetchall()

SyntaxError: invalid syntax (<ipython-input-38-fc081e1e0103>, line 2)

In [32]:
c.description('''SELECT * FROM author;''').fetchall()

TypeError: 'NoneType' object is not callable

In [29]:
c.execute('''SELECT COUNT ([author]) FROM author
            WHERE Name = 'David';''').fetchall()

OperationalError: no such column: Name

3. How many books each author wrote?

4. Use both the author table and books table to 
say: how many copies were sold by authors named David 


    a. how many books for each of the Davids
    
    
    b. how many books in total for all Davids